/* NAVBAR */
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}
.p-5 {
    padding-top: 0px!important;
}
/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body, html {
  height: 100%;
}

.bg-login{
  background-image: url('images/background_login.jpg');
  /* Full height */
  height: 100%;

  padding-top: 200px;
  padding-bottom: 300px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-register{
  background-image: url('images/background_farmer.jpg');
  /* Full height */
  height: 100%;

  padding-top: 50px;
  padding-bottom: 150px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.every-background{
  /* The image used */
  background-image: url("images/wood_background.jpg");

  /* Full height */
  height: 100%;

  padding-top: 20px;
  padding-bottom: 130px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
label[for=form1-trackingYears]
{
    color: white;
}

/* Colour indicating successfully registered */
input[name="email"]:required {
  border-color: palegreen;
}
input[name="email"]:invalid {
  border-color: salmon;
}


#myPopup {
   visibility:hidden;
}



/* HISTORY Table Custom */
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

.tableFixHead          { overflow-y: auto; height: 200; }
.tableFixHead thead th { position: sticky; top: 0; }
