{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="every-background">
  <form action="/changePassword" method="POST">

      <div class="row d-flex justify-content-center">
          <div class="form-group">
              <label for="password" class="text-white">Password</label>
              <input class="form-control" id = "password" name="password" placeholder="Password" type="password" required>
          </div>
      </div>

      <div class="row d-flex justify-content-center">
          <div class="form-group">
              <label for="newPassword" class="text-white">New Password</label>
              <input class="form-control" id = "newPassword" name="newPassword" placeholder="New Password" type="password" required>
          </div>
      </div>

      <div class="row d-flex justify-content-center">
          <div class="form-group">
              <label for="confPassword" class="text-white">Confirm New Password</label>
              <input class="form-control" id = "confPassword" name="confPassword" placeholder="Confirm New Password" type="password" required>
          </div>
      </div>
      <div class="text-center">
        <button class="btn btn-info " type="submit" name="submit">Change Password</button>
      </div>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>


{% endblock %}
