{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="bg-login">
  <div class="text-center">
    <button href="" class="btn btn-info btn-rounded mb-4 " data-toggle="modal" data-target="#modalLoginForm"><b>Already have an account</b></button>
  </div>

  <div class="text-center">
    <a href="/register" class="btn btn-info btn-rounded mb-4"><b>Register an account</b></a>
  </div>

  <form action="{{ url_for('login') }}" method="POST">
    {{ form.csrf_token }}
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            {{ wtf.form_field(form.username, placeholder="Username") }}
            <ul>
              {% for error in form.username.errors %}
                <li style="color:red;"> {{error}} </li>
              {% endfor %}
            </ul>
            {{ wtf.form_field(form.password, placeholder="Password") }}
            <ul>
              {% for error in form.password.errors %}
                <li style="color:red;"> {{error}} </li>
              {% endfor %}
            </ul>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
