{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Setting
{% endblock %}

{% block main %}
    <div class="container">
      <a href="/changePassword"> Change Password </a>
    </div>

    <form class="" action="{{ url_for('setting') }}" method="POST">
      <div class="row justify-content-center" >
        {{ form.csrf_token }}
        {{ wtf.form_field(form.trackingYears, placeholder="Eg: 5") }}
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>

{% endblock %}
