{% extends "layout.html" %}

{% block title %}
  Your Farm
{% endblock %}

{% block main %}
  <div class="container">
    <!--Incomes-->
    <span class=" row justify-content-center text-success"><h2>Incomes from farm</h2></span>
    <div class="row">
      <h2>Crops: </h2>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Tracking years: </th>
            {% for year in displayYears %}
              <th scope="col">{{year}}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for crop in crops %}
          <tr>
            <th>{{crop["cropName"]}} ({{crop["unitName"]}})</th> <!--Display name, unit at first cell of a row-->
            {% for year in displayYears %}
              <td scope="col"> {{amountCrop(crop["id"],year)[0]["Crop_Amount_Sum"]}} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <hr>

    <div class="row">
      <h2>LiveStock: </h2>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Tracking years: </th>
            {% for year in displayYears %}
              <th scope="col">{{year}}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for livestock in livestocks %}
          <tr>
            <th>{{livestock["livestockName"]}} ({{livestock["livestockUnit"]}})</th> <!--Display name, unit at first cell of a row-->
            {% for year in displayYears %}
              <td scope="col"> {{amountLivestock(livestock["id"],year)[0]["Livestock_Amount_Sum"]}} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <hr>
    <hr>
    <!--Expenses-->
    <span class=" row justify-content-center text-warning"><h2>Expenses on farm</h2></span>
    <div class="row">
      <h2>Crop Expenses: </h2>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Tracking years: </th>
            {% for year in displayYears %}
              <th scope="col">{{year}}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for cropEx in cropExs %}
          <tr>
            <th>{{cropEx["cropExName"]}} ({{cropEx["cropExUnit"]}})</th> <!--Display name, unit at first cell of a row-->
            {% for year in displayYears %}
              <td scope="col"> {{amountCropEx(cropEx["id"],year)[0]["CropEx_Amount_Sum"]}} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

      <hr>

    <div class="row">
      <h2>LiveStock Expenses: </h2>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Tracking years: </th>
            {% for year in displayYears %}
              <th scope="col">{{year}}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for livestockEx in livestockExs %}
          <tr>
            <th>{{livestockEx["livestockExName"]}} ({{livestockEx["livestockExUnit"]}})</th> <!--Display name, unit at first cell of a row-->
            {% for year in displayYears %}
              <td scope="col"> {{amountLivestockEx(livestockEx["id"],year)[0]["LivestockEx_Amount_Sum"]}} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
