{% extends "layout.html" %}

{% block title %}
  Your Farm
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <h2>Crops: </h2>
      <table class="crops">
        <tr>
          <th>Tracking years: </th>
          {% for year in trackingYears %}
            <th scope="col">{{2019 - year}}</th>
          {% endfor %}
        </tr>

        <tr>
          <th>Yield: </th>
          {% for year in trackingYears %}
            <th scope="col">{{year}}</th>
          {% endfor %}
        </tr>
      </table>
    </div>


  </div>

{% endblock %}
